Repository thomas-touhey/cahute: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build (linux), build (i686-w64-mingw32), build (x86_64-w64-mingw32), build (m68k-amigaos), build tarball, build docs

build (linux):
  stage: build
  image: python:3.8-slim-bookworm
  before_script:
  - apt-get update -y
  - apt-get install -y cmake pkg-config gcc libusb-1.0-0-dev libsdl2-dev
  - pip install toml
  script:
  - cmake -B build -S . -DCMAKE_INSTALL_PREFIX=/usr
  - cmake --build build

build (i686-w64-mingw32):
  stage: build
  image: registry.gitlab.com/cahuteproject/docker-images/mingw-w64:latest
  script:
  - i686-w64-mingw32-cmake -B build -S .
  - cmake --build build

build (x86_64-w64-mingw32):
  stage: build
  image: registry.gitlab.com/cahuteproject/docker-images/mingw-w64:latest
  script:
  - x86_64-w64-mingw32-cmake -B build -S .
  - cmake --build build

build (m68k-amigaos):
  stage: build
  image: amigadev/crosstools:m68k-amigaos
  before_script:
  - apt-get update -y && apt-get install -y python3 python3-toml
  script:
  - cmake -B build -S .
  - cmake --build build

build tarball:
  stage: build
  image: debian:bookworm-slim
  before_script:
  - apt-get update -y
  - apt-get install -y cmake pkg-config gcc libusb-1.0-0-dev libsdl2-dev
  script:
  - cmake -B build -S .
  - cpack --config build/CPackSourceConfig.cmake
  artifacts:
    paths:
    - cahute-*.tar.gz

build docs:
  stage: build
  image: python:3.11
  before_script:
  - pip install -r docs/requirements.txt
  script:
  - sphinx-build -M html docs docs/_build
  artifacts:
    paths:
    - docs/_build/html

fix: fix AmigaOS serial read (WIP)
  lib/internals.h
  lib/linkmedium.c
  lib/linkopen.c
Due: build (linux), build (i686-w64-mingw32), build (x86_64-w64-mingw32), build (m68k-amigaos), build tarball

refactor: rename file opening funcs and add related doc
  cli/cas_args.c
  cli/p7_args.c
  cli/xfer9860_args.c
  docs/abstractions.rst
  docs/developer-guides/files/guess-type.c
  docs/headers/cahute/file.rst
  docs/internals.rst
  docs/internals/files.rst
  docs/topics/data.rst
  docs/topics/file-formats.rst
  docs/topics/files.rst
  include/cahute/file.h
  lib/fileopen.c
  lib/internals.h
  lib/seven.c
Due: build (linux), build (i686-w64-mingw32), build (x86_64-w64-mingw32), build (m68k-amigaos), build tarball, build docs

fix: fix ancient fx-9860G derivatives detection
  .gitlab-ci.yml
  cli/p7.c
  cli/p7os.c
  cli/p7screen.c
  cli/xfer9860.c
  docs/developer-guides/detection/detect-usb.c
  docs/developer-guides/detection/usb.rst
  docs/headers/cahute/detection.rst
  docs/headers/cahute/link.rst
  docs/internals/links.rst
  docs/topics/usb-detection.rst
  include/cahute/detection.h
  include/cahute/link.h
  lib/detection.c
  lib/internals.h
  lib/linkopen.c
Due: build (linux), build (i686-w64-mingw32), build (x86_64-w64-mingw32), build (m68k-amigaos), build tarball

fix: use Protocol 7.00 on serial for p7
  cli/p7.c
Due: build (linux), build (i686-w64-mingw32), build (x86_64-w64-mingw32), build (m68k-amigaos), build tarball

docs: reorganize protocols section
  docs/communication-protocols.rst
  docs/headers/cahute/link.rst
  docs/topics/file-formats/casiolink.rst
  docs/topics/protocols/cas100.rst
  docs/topics/protocols/cas100/data-types.rst
  docs/topics/protocols/cas100/flows.rst
  docs/topics/protocols/cas100/packet-format.rst
  docs/topics/protocols/cas300.rst
  docs/topics/protocols/cas300/commands.rst
  docs/topics/protocols/cas300/flows.rst
  docs/topics/protocols/cas300/packet-format.rst
  docs/topics/protocols/cas40.rst
  docs/topics/protocols/cas40/data-types.rst
  docs/topics/protocols/cas40/flows.rst
  docs/topics/protocols/cas40/packet-format.rst
  docs/topics/protocols/cas50.rst
  docs/topics/protocols/cas50/data-types.rst
  docs/topics/protocols/cas50/flows.rst
  docs/topics/protocols/cas50/packet-format.rst
  docs/topics/protocols/casiolink.rst
  docs/topics/protocols/casiolink/flows.rst
  docs/topics/protocols/casiolink/packet-format.rst
  docs/topics/protocols/seven-ohp.rst
  docs/topics/protocols/seven.rst
Due: build docs

Path conditions:
  build (linux): any of: chars/*, cli/*, common/*, include/*, lib/*
  build (i686-w64-mingw32): any of: chars/*, cli/*, common/*, include/*, lib/*
  build (x86_64-w64-mingw32): any of: chars/*, cli/*, common/*, include/*, lib/*
  build (m68k-amigaos): any of: chars/*, cli/*, common/*, include/*, lib/*
  build tarball: any of: chars/*, cli/*, common/*, include/*, lib/*
  build docs: any of: docs/*
